html {
    background-color: darkgrey;
}

.info {
    width: 400px;
    display: flex;
    justify-content: space-around;
    font-size: 19px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: black;
}