footer {
    position: relative;;
    margin: auto;
    width: 500px;
    margin-bottom: 30px;
    font-size: 18px;

}

.footerBox {
    position: absolute;
    bottom: 0;
    left: 40%;
}

.mainPage .footerBox {
    position: relative;
}